* {
  box-sizing: border-box;
}

.app-wrapper {
  display: grid;

  margin: 0 auto;
  max-width: 1200px;
  
  grid-template-areas: 
  "header header header"
  "nav content sidebar";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr 2fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
  grid-area: content;
  background-color: chocolate;

}